.image-container {
    position: relative;
    font-family: monospace;

    .content {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        padding: 12px;
        overflow: scroll;

        p {
            margin-bottom: 0;

            &:last-child {
                height: 120px;
                overflow: auto;
            }
        }
    }

    .image {
        width: 100%;
        height: 100%;
        border-radius: 8px;

        &:hover {
            opacity: .3;
        }
    }
}
